@page "/groups/{id}"
@using Data.Database
@using Microsoft.Extensions.Logging
@using PlagiarismApp.Models
@inject GroupService GroupService
@inject NavigationManager NavigationManager
@inject ILogger<AddGroup> Logger
@attribute [Authorize]

<h3>Editing group: @groupModel.Name</h3>

<EditForm Model="@groupModel" OnValidSubmit="@UpdateGroup">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
    </div>
    <div class="form-floating" style="margin:10px">
        <InputText id="name" @bind-Value="groupModel.Name" />
    </div>
    <div class="form-floating" style="margin:10px">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</EditForm>

@code {
    private GroupModel groupModel = new();

    private Group group = new();

    [Parameter]
    public string? Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        group = await GroupService.GetItemAsync(int.Parse(Id));
        groupModel.Name = group.Name;
    }

    private void UpdateGroup()
    {
        Logger.LogInformation("UpdateGroup called");

        Edit();
        GroupService.Attach(group);
        GroupService.SaveChanges();
        NavigationManager.NavigateTo("/groups");
    }

    private void Edit()
    {
        group.Name = groupModel.Name;
    }
}
