@page "/groups"
@using Data.Database
@inject GroupService GroupService
@inject NavigationManager NavManager
@attribute [Authorize]

<h3>Groups:</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in groups)
        {
            <tr>
                <td>@group.Name</td>
                <td>
                    <a href="@GetHrefForEditPage(group)">Edit</a>
                </td> <!-- TODO: Add a delete option-->
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="NavigateToAddGroupPage">
    Add
</button>

@code {
    private Group[]? groups { get; set; }

    private string GetHrefForEditPage(Group group)
    {
        return "groups/" + group.Id;
    }

    protected override async Task OnInitializedAsync()
    {
        groups = await GroupService.GetItemsAsync();
    }

    private void NavigateToAddGroupPage()
    {
        NavManager.NavigateTo("groups/add_group");
    }
}
