@page "/groups"
@using Data.Database
@inject GroupService GroupService
@inject NavigationManager NavManager

<h3>Groups:</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in groups)
        {
            <tr>
                <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="NavigateToAddGroupPage">
    Add
</button>

@code {
    private Group[]? groups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        groups = await GroupService.GetItemsAsync();
    }

    private void NavigateToAddGroupPage()
    {
        NavManager.NavigateTo("groups/add_group");
    }
}
