@page "/project_types/{id}"
@using Data.Database
@using Microsoft.Extensions.Logging
@using PlagiarismApp.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@attribute [Authorize]

@if (_model != null)
{
    <h3>Editing project type: @_model.Name</h3>

    <EditForm Model="@_model" OnValidSubmit="@UpdateLabWork">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Name:</label>
        </div>
        <div class="form-floating" style="margin:10px">
            <InputText id="name" @bind-Value="_model.Name" />
        </div>
        <div>
            <label>Description:</label>
        </div>
        <div class="form-floating" style="margin:10px">
            <InputText id="description" @bind-Value="_model.Description" />
        </div>

        <div class="form-floating" style="margin:10px">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </EditForm>
}
else 
{
    <OnDataLoading />
}

@code {
    private ProjectTypeModel? _model;

    private ProjectType? projectType;

    [Parameter]
    public string? Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await InitializeLabWorks();
        InitializeModel();
    }

    private async Task InitializeLabWorks()
    {
        projectType = await HttpClient.GetFromJsonAsync<ProjectType>
            (NavigationManager.BaseUri + "api/data/getprojecttype/" + Id);
    }

    private void InitializeModel()
    {
        if (projectType != null)
        {
            _model = new ProjectTypeModel()
                {
                    Name = projectType.Name,
                    Description = projectType.Description
                };
        }
    }

    private async Task UpdateLabWork()
    {
        Edit();
        var response = await HttpClient.PutAsJsonAsync(
            NavigationManager.BaseUri + "api/data/putprojecttype", projectType);
        NavigationManager.NavigateTo("/project_types");
    }

    private void Edit()
    {
        projectType.Name = _model.Name;
        projectType.Description = _model.Description;
    }
}
