@page "/home"

<AuthorizeView>
    <Authorized>
        <p role="status">Hello, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p role="status">You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>
