@page "/groups/add_group"
@using Data.Database
@using Microsoft.Extensions.Logging
@using PlagiarismApp.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ILogger<AddGroup> Logger
@attribute [Authorize]

<h3>Adding a new group:</h3>

<EditForm Model="@_model" OnValidSubmit="@CreateAndSaveGroup">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
    </div>
    <div class="form-floating" style="margin:10px">
        <InputText id="name" @bind-Value="_model.Name" />
    </div>
    <div class="form-floating" style="margin:10px">
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-primary" @onclick="Cancel">Cancel</button>
    </div>
    
</EditForm>

@code {
    private GroupModel _model = new();

    private async Task CreateAndSaveGroup()
    {
        Logger.LogInformation("CreateAndSaveGroup called");

        Group newGroup = new Group() { Name = _model.Name };
        await PostGroup(newGroup);
        NavigationManager.NavigateTo("/groups");
    }

    private async Task PostGroup(Group group)
    {
        var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri +
                                                        "api/data/postgroup", group);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/groups");
    }
}
